dist
**/node_modules
**/*.idea
**/*.wasm
!vetkd_user_lib/*.wasm
!internet_identity.wasm
!vetkd_system_api.wasm
src/frontend/public/build/*
**/target
.dfx
**/.svelte-kit
**/build

src/declarations
/Cargo.lock

.mops
